.resource-cards {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1000px;
  margin-inline: auto;
  font-size: clamp(16px, 3.5vw, 23px);
  font-weight: 600;
  letter-spacing: 2.1px;
  touch-action: manipulation;

  .resource-card {
    padding-block: 25px;
    padding-inline: clamp(15px, 4vw, 35px);
    background-image: url('../assets/backgrounds/card-bg.png');
    background-color: #f6f6ff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    touch-action: manipulation;

    @media only screen and (max-width: 500px) {
      padding-block: 18px 22px;
    }

    .resource-items-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px;

      @media only screen and (max-width: 500px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
  }
}
