*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('./assets/backgrounds/politik-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-inline: clamp(25px, 5vw, 100px);
  padding-block: 30px;
  font-family: 'Cinzel';
}
